$verde-spotify: #1DB954;
$verde-hover: #169B47;
$verde-active: #128c3d;
$gris-claro: #f4f4f4;
$gris-oscuro: #333;
$negro-fondo: #121212;

$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$max-width-contenedor: 1000px;
$max-width-session: 300px;
